.#*
aclocal.m4
ansi2html
ansi2txt
atconfig
atlocal
autom4te.cache
autoscan.log
charsets.*
commands.h
config.cache
config.guess
config.h
config.h.in
config.log
config.rpath
config.status
config.status.lineno
config.sub
configure
configure.lineno
configure.scan
DEADJOE
.deps
KBtin
KBtin_help.gz
kbtin-*.tar.gz
KBtin-*.tar.gz
load_commands.h
Makefile
Makefile.in
manual.html
*.o
*.orig
*~
package.m4
profinit.h
protos
protos.h
stamp-h
stamp-h1
_stdint.h
tests.at
tests/_be_quiet_
testsuite
testsuite.dir
testsuite.log
ttyrec2ansi
valgrind.*
